<ul>
    <h4>Reviews</h4>
    <blockquote ng-repeat="review in product.reviews">
        <b>Stars: {{review.stars}}</b>
        {{review.body}}
        <cite class="clearfix">by: {{review.author}} on {{review.createdOn | date}}</cite>
    </blockquote>
</ul>

<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
    <blockquote>
        <strong>Stars: {{reviewCtrl.review.stars}}</strong>
        {{reviewCtrl.review.body}}
        <cite class="clearfix">by: {{reviewCtrl.review.author}}</cite>
    </blockquote>
    <fieldset class="form-group">
        <select ng-model="reviewCtrl.review.stars" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-options="stars for stars in [5,4,3,2,1]" required>
            <option value="" class="">Rate the Product</option>
            <option value="1">1 star</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
        </select>
    </fieldset>
    <textarea ng-model="reviewCtrl.review.body" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Write a short review of the product..." required></textarea>
    <input ng-model="reviewCtrl.review.author" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email" type="email" placeholder="user@email.com" required />
    <div> reviewForm is {{reviewForm.$valid}} </div>
    <input type="Submit" class="btn btn-primary" value="Submit" />
</form>