.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ngdirty {
    border-color: #78FA89;
}

.panel-body {
    padding: 15px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.panel-heading {
    padding: 1px 15px;
}

.content {
    padding: 0px 15px;
}

body {
    padding-top: 70px;
}

.add-to-cart .btn-qty {
    width: 52px;
    height: 46px;
}

.add-to-cart .btn { border-radius: 0; }