<div class="container" ng-controller="ProductController as productCtrl">
    <form name="productForm" ng-submit="productCtrl.edit(productCtrl.product)" novalidate>
        <div class="col-md-4">
            <h1>Edit {{productCtrl.product.productname}}</h1>
            <label>Product Name
                <input ng-model="productCtrl.product.productname" class="form-control mr-sm-4" />
            </label>
            <label>SKU
                <input type="number" ng-model="productCtrl.product.sku" class="form-control mr-sm-4" />
            </label>
            <label>Quantity
                <input type="number" ng-model="productCtrl.product.quantity" class="form-control mr-sm-4" />
            </label>
            <label>Notification Quantity
                <input type="number" ng-model="productCtrl.product.notificationquantity" class="form-control mr-sm-4" />
            </label>
            <label>Color
                <input ng-model="productCtrl.product.color" class="form-control mr-sm-4" />
            </label>
            <label>Trim Color
                <input ng-model="productCtrl.product.trimcolor" class="form-control mr-sm-4" />
            </label>
            <label>Size
                <input ng-model="productCtrl.product.size" class="form-control mr-sm-4" />
            </label>
            <label>Dimensions
                <input ng-model="productCtrl.product.dimensions" class="form-control mr-sm-4" />
            </label>
            <label>Price
                <input type="number" ng-model="productCtrl.product.price" class="form-control mr-sm-4" />
            </label>
            <br />
            <br />
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>